<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <!--配置bean-->
    <bean id="arithmeticCalculator" class="com.lzk.aop.基于xml.ArithmeticCalculatorImpl"></bean>

    <!--配置切面的bean-->
    <bean id="loggingAspect" class="com.lzk.aop.基于xml.LoggingAspect"></bean>

    <bean id="vlidationAspect" class="com.lzk.aop.基于xml.VlidationAspect"></bean>


    <!--配置AOP-->
    <aop:config>
        <!--配置切面表达式-->
        <aop:pointcut id="pointcut" expression="execution(* com.lzk.aop.基于xml.ArithmeticCalculator.*(int,int))"></aop:pointcut>
        <!--配置切面及通知-->
        <aop:aspect ref="loggingAspect" order="2">
            <aop:before method="beforeMethod" pointcut-ref="pointcut"></aop:before>
            <aop:after method="afterMethod" pointcut-ref="pointcut"></aop:after>
            <aop:after-returning method="afterReturning" pointcut-ref="pointcut" returning="result"></aop:after-returning>
            <aop:after-throwing method="afterThrowing" pointcut-ref="pointcut" throwing="ex"></aop:after-throwing>
        </aop:aspect>
        <aop:aspect ref="vlidationAspect" order="1">
            <aop:before method="vlidationAspect" pointcut-ref="pointcut"></aop:before>
        </aop:aspect>
    </aop:config>
</beans>